[submodule "lbr-stack/lib_fri_idl"]
	path = lbr-stack/lib_fri_idl
	url = https://github.com/lbr-stack/lbr_fri_idl

[submodule "fri"]
	path = lbr-stack/fri
	url = https://github.com/lbr-stack/fri.git
	branch = fri-1.17

[submodule "controller"]
	path = controllers
	url = https://github.com/yxh-a/ros2_effort_controller.git
	branch = kuka-lbr-control

[submodule "lbr_stack/lbr_fri_ros2_stack"]
	path = lbr-stack/lbr_fri_ros2_stack
	url = https://github.com/yxh-a/lbr_fri_ros2_stack.git
	branch = humble-kuka-lbr-control
